// bower:scss
// endbower

html,
body,
h1,
h2,
h3,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 18px;
}

h1 {
  display: none;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

p {
  padding-bottom: 1em;
}

li {
  padding-bottom: 0.5em;
}

p,
li {
  line-height: 1.5em;
}

ul {
  list-style-type: square;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  width: 70%;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#container {
  z-index: 2;
}

img {
  width: 100%;
  float: left;
}

.secondary {
  width: 49.5%;
}

.secondary:nth-child(even) {
  float: right;
}

h2 {
  float: left;
  width: 30%;
}

h2, p, li {
  color: #f5f5f5;
}

.work {
  float: left;
  margin-bottom: 5em;
}

.work img {
  margin-bottom: 0.5em;
}

.workindex img {
  margin-bottom: 3em;
}

.workimages {
  float: left;
  margin-bottom: 2em;
}

.worktext {
  float: left;
  width: 70%;
  column-count: 2;
  column-gap: 1.6em;
  text-align: justify;
  -webkit-column-rule: 1px solid #444; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid #d3d3d3; /* Firefox */
  column-rule: 1px solid #444;
}

#menu {
  position: fixed;
  left: 8px;
  top: 8px;
  width: 16px;
}

#menu div,
#menu a {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
  padding: 8px;
  background: #fff;
  box-sizing: border-box;
  transition: background 200ms ease;
}

#menu div:hover,
#menu a:hover {
  background: #666;
} 

@media (max-width: 600px) {
  #container {
    width: 90%;
  }

  h2 {
    font-size: 18px;
    width: 100%;
  }

  .worktext {
    column-count: 1;
    width: 100%;
  }

  .worktext p,
  .worktext li {
    font-size: 14px;
    line-height: 1.2em;
    text-align: left;
    font-size: 14px;
  }

  ul {
    padding-right: 36px;
  }

  .secondary {
    width: 49%;
  }
}